! rofi
rofi.modi: run
rofi.font: Fira Mono 12
rofi.width: 100
rofi.lines: 8
rofi.columns: 1
rofi.bw: 0
! location: 1 2 3 / 8 0 4 / 7 6 5
rofi.location: 0
rofi.padding: 450
rofi.fuzzy: true
rofi.separator-style: solid
rofi.hide-scrollbar: true


! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: argb:ED282828, #a89984, #a89984

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active: #d79921, #282828, #d79921, #fabd2f, #282828
rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, #282828
