* {{
    background: {color0};
    foreground: {color7};
    active-background: {color2};
    urgent-background: {color1};
    selected-active-background: {color1};
    selected-normal-background: {color2};
    selected-urgent-background: {color3};


}}
