#!/bin/bash

alias reload="source ~/.zshrc"

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias v="nvim"
alias vim="nvim"

alias valias="nvim ~/.aliases"
alias vbashrc="nvim ~/.bashrc"
alias vzshrc="nvim ~/.zshrc"

alias gclean="git clean -xdf && git reset --hard"
alias glog="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gconfig="git config --global"